<div class="header container">
	<div class="header-mb">
		<div class="wrapper-mb">
			<div class="menu-mb header_btn">
				<a class="toggle-menu">
					<span>Menu <i>▼</i></span>
				</a>
			</div>

			<div class="search-mb header_btn">
				<a>
					<svg>
						<use xlink:href="{{ theme.img }}/sprites.svg#search"></use>
					</svg>
				</a>
			</div>
		</div>

		<h1 class="logo-mb">
			<svg>
				<use xlink:href="{{ theme.img }}/sprites.svg#logo"></use>
			</svg>
		</h1>

		<ul class="list">
			<li> <a href="#">NerdCast</a> </li>
			<li> <a href="#">NerdOffice</a> </li>
			<li> <a href="#">NerdPlayer</a> </li>
			<li class="more"> <a href="#">Mais <o>▼</o></a> </li>
			<li> <a href="#">Nerdstore</a> </li>
		</ul>
	</div>

	{# <div class="header-desk hide-ptb">
	</div> #}

</div>

<div class="sub-header">

	<ul class="bunker">

		<li>
			<a class="bunker-switcher toggle-menu">
				<svg>
					<use xlink:href="{{ theme.img }}/sprites.svg#bunker"></use>
				</svg>
				<i>▼</i>
			</a>
			<ul class="bunker-menu list">
				<li> <a href="#">Direto do Bunker</a> </li>
				<li> <a href="#">Filmes</a> </li>
				<li> <a href="#">Games</a> </li>
				<li> <a href="#">Séries e TV</a> </li>
				<li> <a href="#">Animes e Mangás</a> </li>
				<li> <a href="#">HQs e Livros</a> </li>
				<li> <a href="#">Ciência e Tecnologia</a> </li>
			</ul>
		</li>
		<ul class="bunker-nav">
			<li> <a href="#">Direto do Bunker</a> </li>
			<li> <a href="#">Filmes</a> </li>
			<li> <a href="#">Games</a> </li>
			<li> <a href="#">Séries e TV</a> </li>
			<li> <a href="#">Animes e Mangás</a> </li>
			<li> <a href="#">HQs e Livros</a> </li>
			<li> <a href="#">Ciência e Tecnologia</a> </li>
		</ul>
	</ul>

</div>