/*
|--------------------------------------------------------------------------
| ONYX FRAMEWORK - HOME STYLES
|--------------------------------------------------------------------------
*/
/*
|--------------------------------------------------------------------------
| VARIABLES
|--------------------------------------------------------------------------
*/
/*
|--------------------------------------------------------------------------
| MIXINS
|--------------------------------------------------------------------------
*/
/*
|--------------------------------------------------------------------------
| EXTENDS
|--------------------------------------------------------------------------
*/
/*
|--------------------------------------------------------------------------
| COMPONENTS
|--------------------------------------------------------------------------
*/
.post-manchete .text-area { margin: 10px 0; }

.post-manchete .text-area .chamada { color: #3BB4B4; font-weight: 700; text-transform: uppercase; }

.post-manchete .text-area .title { margin: 10px 0; font-size: 24px !important; line-height: 30px; }

.post-manchete .text-area .share { color: #747474; font-weight: 700; display: flex; align-items: center; }

.post-manchete .text-area .share > svg { margin-left: 10px; width: 15px; height: 15px; fill: #747474; }
